// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

body, html {
  height: 100vH;
  width: 100vW;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
}